                                   @media screen and (max-width:1200px) {

.about-me__photo .carousel {width: 100%;}

.creativity__content img {max-height: 328px;}

}


                                /* Диапозон Medium 768px - 992px (контейнер 720px)*/

                                     @media screen and (max-width:992px) {

.about-me__info h3 {margin: 16px;}

.about-me__info p {
    font-size: 12px;
    line-height: 18px;}

.passage__img .img-row {-webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 3;}


.creativity__content img {
    max-height: 243px;}

}

                                     @media screen and (max-width:768px) {
.menu-burger {display: block;}
.topmenu {display: none;}
.header__title h1 {font-size: 30px;}
.about-me {text-align: center;}
.contacts__form_title {margin-top: 35px;}

.passage__img .img-row {-webkit-column-count: 2;
                        -moz-column-count: 2;
                        column-count: 2;}

.creativity__content img {
    max-height: 800px;
    width: 100%;
}

                                     @media screen and (max-width:576px) {

.passage__img img:hover {transform: scale(1.1);
                         transition: 0.5s;}

.card:hover {transform: none;}

.creativity__content img {margin-bottom: 5px;}


.portraits__slider .carousel-item img:hover {transform:scale(1.1);}


}
                                     @media screen and (max-width:385px){

.passage__img .img-row {-webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;}

.portraits__slider .carousel-item img:hover {transform:none;}

.about-me__info p {font-size: 14px;}


                                     }


                                       @media screen and (max-width:333px) {




                                       }