                                   @media screen and (max-width:1200px) {



}


                                /* Диапозон Medium 768px - 992px (контейнер 720px)*/

                                     @media screen and (max-width:992px) {


.about-me__photo img {width: 350px;}

.about-me__info h3 {margin: 16px;}

.about-me__info p {
    font-size: 12px;
    line-height: 18px;}
}


                                     @media screen and (max-width:768px) {
.menu-burger {display: block;}
.topmenu {display: none;}
.header__title h1 {font-size: 30px;}
.about-me {text-align: center;}
}
                                     @media screen and (max-width:576px) {

.passage__img img:hover {
                         transform: scale(1.1);
                         transition: 0.5s;}

.card:hover {transform: none;}


}
                                     @media screen and (max-width:385px){



                                     }


                                       @media screen and (max-width:333px) {




                                       }